@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
    font-family: 'Bobs Burgers';
    src: URL('fonts/Bob\'s\ Burgers.ttf') format('truetype');
  }
/* CSS RESET */ 


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* color variables*/ 
:root {
    --yellow: #f2d028;
    --red: #d92b3a;
    --white:#ffffff;
    --green:#96a338;
    --blue:#a2d3f1;
    --brown:#bf8553;
    --black:#000000;
  }

/* GLOBAL STYLES */ 

body{
    color: var(--brown);
    background-color: var(--blue);
    width: 1280px; 
    font-family: "PT Sans", sans-serif;
}
h1{
    font-size: 3em; 
}

h2{
    color: var(--red);
    font-size: 3em; 
    text-align: center; 
    font-family: 'Bobs Burgers', sans-serif;
}
p, label, legend{
    font-size: 1.25em;
}
/* header and nav styling*/ 
header{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: var(--yellow);
    color: var(--green);
    font-family: 'Bobs Burgers', sans-serif;
    padding: 32px;
}
#logo {
    width: 70%;
    height: auto;
}
#logo img{
    width: 50%;
}
nav ul{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    margin-left: 20px;
}
nav li{
    font-size: 2em;
}
#dark-mode{
    width: 25px;
    height: 25px;
}
/* about section styling */ 
#about{
    width: 80%; 
    margin: auto; 
    margin-top: 50px;
    padding: 20px;
    display: flex; 
}
 
.image-content{
    width: 50%; 
}
.image-content img{
    max-width: 100%;
}


/*contact form styling */ 

#contact{
    background-color:var(--yellow);
    padding: 32px; 
    margin: auto;
}
#contact label, legend{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 24px;
} 
#contact form {
    background-color:var(--white);
    width: 50%; 
    margin: 20px auto;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    grid-gap: 5px;
    border-radius: 20px;
}
#contact input, textarea {
    background-color: transparent; 
    border: 5px solid var(--green);
    margin: 5px;
    padding: 10px;
}
input[type="submit"]{
    width: 25%; 
    padding: 10px; 
    margin: 10px auto !important;
    font-family: 'Bobs Burgers', sans-serif; 
    font-size: 2em;
    border: 5px solid var(--green) !important;
}
.errors-div{
    color:var(--red);
    font-weight: bold; 
}