@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap');
@font-face {
    font-family: 'Bobs Burgers';
    src: URL('fonts/Bob\'s\ Burgers.ttf') format('truetype');
  }
/* CSS RESET */ 


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    margin:auto;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* color variables*/ 
:root {
    --highlight: #f2d028;
    --headings: #d92b3a;
    --highlight-text:#96a338;
    --background:#a2d3f1;
    --text:#bf8553;
    --black:#000000;
    --white:#ffffff;
    --gray: #373737;
  }

/* GLOBAL STYLES */ 

body{
    color: var(--highlight-text);
    background-color: var(--background);
    width: 1280px; 
    font-family: "Patrick Hand", cursive;
}
h1{
    font-size: 3em; 
    text-align: center;
    margin: 20px;
}

h2{
    color: var(--headings);
    font-size: 3em; 
    font-family: 'Permanent Marker', cursive;
    margin: 10px;
    text-align: center;
}
p, label, legend{
    font-size: 1.25em;
}
/* header and nav styling*/ 
header{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    background-color: var(--highlight);
    font-family: 'Bobs Burgers', sans-serif;
    padding: 24px;
}
#logo {
    width: 70%;
    height: auto;
}
#logo img{
    width: 50%;
}
nav ul{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr auto; 
    margin-left: 20px;
}
nav li a {
    font-size: 2em;
    text-decoration: none; 
    color: var(--text);
}
#dark-mode{
    width: 25px;
    height: 25px;
}
.dark-mode{
    background-color: #123e59; 
    color: #b4c062; 
}
/* about section styling */ 
#about{
    width: 80%; 
    margin: auto; 
    margin-top: 50px;
    padding: 50px 20px;
    background-color: var(--white); 
    border-radius: 20px; 
    display: flex; 
}
 .text-content{
    width: 50%; 
    padding: 10px; 
 }
.image-content{
    width: 50%; 
}
.image-content img{
    max-width: 100%;
    border-radius: 20px;
}
/*product choosing styling*/ 
#specials{
    padding: 50px; 
    background-color: var(--gray);
}
#special{
    margin: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#button-specials{
    text-align: center;
}
#button-specials button{
    background-color: transparent; 
    padding: 10px; 
    border: 5px solid var(--highlight-text);
    color: var(--highlight-text);
    margin: 5px;
}
/*contact form styling */ 

#contact{
    background-color:var(--highlight);
    padding: 32px; 
    width:100%;
}
#contact label, legend{
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 24px;
} 
#contact form {
    background-color:var(--white);
    width: 50%; 
    margin: 20px auto;
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    grid-gap: 5px;
    border-radius: 20px;
}
#contact input, textarea {
    background-color: transparent; 
    border: 5px solid var(--text);
    margin: 5px;
    padding: 10px;
}
 input[type="submit"]{
    width: 25%; 
    padding: 10px; 
    margin: 10px auto !important;
    font-family: 'Bobs Burgers', sans-serif; 
    font-size: 2em;
    border: 5px solid var(--text) !important;
}
.errors-div{
    color:var(--headings);
    font-weight: bold; 
}

/*guessing game styling */
#win{
    background-color: var(--white);
    width: 60%; 
    border-radius: 50%; 
    margin: 10px auto; 
    padding: 250px 0px;
}
#guessing-game{
    width: 50%;
    margin: auto; 
}
#guessing-game form{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "label guess"
        "button button"; 
}
#guessing-game label{
    grid-area: label;
}
#guess{
    grid-area: guess;
    background: transparent;
    border: none;
    border-bottom: 5px solid var(--text); 
    width: 50%; 
    justify-self: start;  
}
#guess-button{
    grid-area: button;
    width: 75%; 
}
